<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                                   http://www.springframework.org/schema/beans/spring-beans.xsd
                                   http://www.springframework.org/schema/context
                                   http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Autodetect classes and register the corresponding beans -->
    <context:component-scan
            base-package="app1"
            use-default-filters="true">

        <context:exclude-filter
                type="annotation"
                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <!-- Allow the use of @Autowire and @Required -->
    <context:annotation-config />


    <!--
            This will automatically locate any and all property files you have
            within your classpath, provided they fall under the META-INF
            directory. The located property files are parsed and their values can
            then be used within application context files in the form of
            ${propertyKey}.
    -->
    <context:property-placeholder location="classpath*:*.properties" />

    <bean id="applicationContextProvider" lazy-init="false" class="app1.utilities.SpringAppContextUtils" />
    <!-- Setup a spring bean that acts as a C3P0 Connection pool                          -->
    <!-- NOTE:  Set destroy-method="close" so that Spring will close the connection pool  -->
    <bean id="postgresDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  destroy-method="close">
        <property name="driverClass"              value="${jdbc.driverClass}"        />
        <property name="jdbcUrl"                  value="${jdbc.jdbcUrl}"            />
        <property name="user"                     value="${jdbc.user}"               />
        <property name="password"                 value="${jdbc.password}"           />
        <property name="initialPoolSize"          value="${jdbc.initialPoolSize}"    />
        <property name="maxPoolSize"              value="${jdbc.maxPoolSize}"        />
        <property name="minPoolSize"              value="${jdbc.minPoolSize}"        />
        <property name="maxIdleTime"              value="${jdbc.maxIdleTime}"        />
        <property name="maxConnectionAge"         value="${jdbc.maxConnectionAge}"   />
        <property name="preferredTestQuery"       value="${jdbc.preferredTestQuery}" />
        <property name="idleConnectionTestPeriod" value="${jdbc.idleConnectionTestPeriod}" />
    </bean>
</beans>